accelerate==1.5.2
aiohappyeyeballs==2.6.1
aiohttp==3.11.13
aiosignal==1.3.2
annotated-types==0.7.0
anyio==4.9.0
asgiref==3.8.1
async-timeout==5.0.1
attrs==25.3.0
bitsandbytes==0.45.4
blinker==1.9.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
cut-cross-entropy==25.1.1
datasets==3.4.0
dill==0.3.8
dnspython==2.7.0
docstring_parser==0.16
email_validator==2.2.0
exceptiongroup==1.2.2
fastapi==0.115.11
fastapi-cli==0.0.7
filelock==3.13.1
Flask==3.1.0
flask-cors==5.0.1
frozenlist==1.5.0
fsspec==2024.6.1
h11==0.14.0
hf_transfer==0.1.9
httpcore==1.0.7
httptools==0.6.4
httpx==0.28.1
huggingface-hub==0.29.3
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
mpmath==1.3.0
multidict==6.1.0
multiprocess==0.70.16
networkx==3.3
numpy==2.1.2
packaging==24.2
pandas==2.2.3
peft==0.15.0
pillow==11.0.0
propcache==0.3.0
protobuf==3.20.3
psutil==7.0.0
pyarrow==19.0.1
pydantic==2.10.6
pydantic_core==2.27.2
Pygments==2.19.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-multipart==0.0.20
pytz==2025.1
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
rich==13.9.4
rich-toolkit==0.13.2
safetensors==0.5.3
sentencepiece==0.2.0
shellingham==1.5.4
shtab==1.7.1
six==1.17.0
sniffio==1.3.1
starlette==0.46.1
sympy==1.13.1
tokenizers==0.21.1
torch==2.6.0+cu126
torchaudio==2.6.0+cu126
torchvision==0.21.0+cu126
tqdm==4.67.1
transformers==4.49.0
triton-windows==3.2.0.post17
trl==0.15.2
typeguard==4.4.2
typer==0.15.2
typing_extensions==4.12.2
tyro==0.9.17
tzdata==2025.1
unsloth @ git+https://github.com/unslothai/unsloth.git@158b25c30d46d60ddbb0a5ee93c688b285c7c8b2
unsloth_zoo==2025.3.17
urllib3==2.3.0
uvicorn==0.34.0
watchfiles==1.0.4
websockets==15.0.1
Werkzeug==3.1.3
xformers==0.0.29.post3
xxhash==3.5.0
yarl==1.18.3
