<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Orchestra</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}?v=1.1">
    <!-- Load Chart.js from CDN -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <div class="header-content">
        <div class="title">
            Distributed ML Cluster - 20 GPUs on Wi-Fi
        </div>
        <div class="metadata">
            Epoch 4/10 | Step 120/200 | Mar 02, 2025 14:35
        </div>
    </div>
    <div class="center-content">
        <div class="graph">
            <p>Loss: <span id="currentLoss"></span> ↓ | Acc: <span id="currentAcc"></span> ↑</p>
            <canvas id="chart"></canvas>
        </div>
        <div class="gpus"></div>
    </div>
    <div class="nodes"></div>

    <!-- Remove type="module" and use a regular script -->
    <script src="{{ url_for('static', filename='js/loss.js') }}"></script>
</body>

</html>
